<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit :
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="identityCommons" type="McKesson.IdentityCommons.IdentityCommonsSection, McKesson.IdentityCommons" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="PermissionOn" value="false" />
    <!--The specified path, file name, or both are too long. The fully qualified file name must be less than
    260 characters, and the directory name must be less than 248 characters.
    storage plus maxfilelength can not be greater then 260 (file system limit)
    -->
    <add key="UploadFileQualifiedMaxLength" value="260" />
    <add key="UploadStoragePath" value="c:\temp\" />
    <!-- The following path should be local to the web site and the web app should have permission to execute scan.exe. -->
    <add key="UploadStoragePathForVirusScan" value="c:\windows\temp" />
    <add key="UploadFileNameLengthMax" value="170" />
    <!-- The following parameters are used by policy tagging. -->
    <add key="PolicyFiringOrderCategory" value="CB_GRP_POL_FIRING_ORDER" />
    <add key="PolicyKnowledgePackCategory" value="CB1_POLICY_KP" />
    <add key="KnowledgePackCategory" value="KNOWLEDGE_PACK_NAME" />
    <!-- The following parameters are used by notification panel. -->
    <!-- The following parameters "special" values that need to be added to the screen. -->
    <add key="NotificationEnvironments" value="NONE" />
    <add key="NotificationStatus" value="ALL" />
    <add key="NotificationMinDaysOld" value="1" />
    <add key="NotificationMaxDaysOld" value="180" />
    <!-- The following parameters are used as defaults on the screen. -->
    <add key="NotificationDefaultRequestType" value="DATA DICTIONARY" />
    <add key="NotificationDefaultEnvironment" value="PROD" />
    <add key="NotificationDefaultStatus" value="ALL" />
    <add key="NotificationDefaultInitiatedBy" value="me" />
    <add key="NotificationDefaultLastXDays" value="1" />
    <!-- end notification panel-->
    <!-- export category related parameters-->
    <add key="ExportStoragePath" value="C:\temp\Export\" />
    <add key="ExportUserSimultaneousRequestLimit" value="-1" />
    <!-- end export category-->
    <!-- cross reference related parameters -->
    <add key="DictionaryPath" value="C:\temp\Dictionaries" />
    <!-- if RuleMetadataPath is provided (for testing purposes only) it will be used and ArtifactoryRepositoryUrl and RuleMetadataFolderUrlPart will not be used. -->
    <add key="RuleMetadataPath" value="C:\temp\RuleMetadataFiles" />
    <!-- if RuleMetadataPath is an empty string, ArtifactoryRepositoryUrl and RuleMetadataFolderUrlPart will be used. -->
    <add key="ArtifactoryRuleMetadataFolderUrl" value="http://mhs-artifactory.mckesson.com/artifactory/api/storage/hub-cxt-local/%clientName%/RuleMetadata" />
    <!-- Data Dictionary related parameters-->
    <add key="ERR001" value="Data Dictionary request is currently in progress. Please try again after current request is complete." />
    <add key="ERR002" value="Request to cancel the data dictionary generation has already been submitted." />
    <add key="ERR003" value="Data Dictionary request is already cancelled." />
    <add key="ERR004" value="Delta file was already approved. Please check the Notification Panel for updates on this request." />
    <add key="ERR005" value="Data Dictionary request cannot be canceled at this stage. Please check the Notification Panel for updates on this request." />
    <add key="DeltaStoragePath" value="C:\DictionaryGenerator" />
    <!-- End Data Dictionary related parameters-->
    <!-- Promotion Related messages -->
    <add key="MSG001" value="Promotion/Flag Update is not allowed at this point of time. Please try again later." />
    <add key="MSG002" value="Promotion Completed with Errors." />
    <add key="MSG003" value="Promotion/Flag Update Failed. Please try again later." />
    <add key="MSG004" value="Promotion request successfully submitted. Monitor the status of the request on the Notification Panel." />
    <!-- End Promotion Related messages -->
    <!-- virus scanning settings -->
    <!-- SETTINGS FOR VIRUS SCANNING ON -->
    <!-- Path containing scan.exe needs to be listed in the system PATH variable or give full path -->
    <!--
    <add key="VirusScanExecutable" value="PATH-TO-VIRUS-SCANNER\scan.exe"/>
    <add key="VirusScanArguements" value="/DRIVER=C:\Progra~2\Common~1\McAfee\Engine\ /SECURE /NC"/>
    <add key="VirusScanReportIsCleanRegEx" value="Possibly Infected:.............     0"/>
    <add key="VirusScanWaitTimeInSeconds_ZeroWaitsForever" value="20"/>
-->
    <!-- SETTINGS FOR VIRUS SCANNING OFF -->
    <add key="VirusScanExecutable" value="rundll32.exe" />
    <add key="VirusScanArguements" value="" />
    <add key="VirusScanReportIsCleanRegEx" value="" />
    <add key="VirusScanWaitTimeInSeconds_ZeroWaitsForever" value="0" />
    <!-- end virus scanning -->
    <add key="MaxLoadImportErrorsToDisplay" value="100" />
    <!-- If you change IdleTime below (in seconds) you must ALSO update the IIS DefaultAppPool/Advanced Settings/Process Model section/Idle time-out
         setting to that value divided by 60 (as its in minutes) -->
    <add key="IdleTime" value="1200" />
    <add key="CountdownTime" value="60" />
    <!-- IAM Staging -->
    <!--<add key="IamUi" value="https://access.stage.iam.mckesson.com/idm/mhs2/ui/" />-->
    <!--<add key="IamCookieName" value="a1-mhs2-stg-b" />-->
    <!-- IamRestAuthentication URL is disabled because UI authenticates users accessing API using SAML Token from Ws-Fed -->
    <!--<add key="IamRestAuthentication" value="https://access.stage.iam.mckesson.com/access/identity/mhs2/json/" />-->
    <!--<add key="IamRealm" value="%2Fmhs_opendj" />-->
    <!-- HUB DEV API -->
    <add key="IamUi" value="https://access.dev.iam.mckesson.com/idm/ihub/" />
    <!-- IamRestAuthentication URL is disabled because UI authenticates users accessing API using SAML Token from Ws-Fed -->
    <!--<add key="IamRestAuthentication" value="https://access.dev.iam.mckesson.com/access/identity/json/" />-->
    <add key="IamCookieName" value="a1-mhshub-hdev-b" />
    <add key="IamRealm" value="mhshub" />
    <add key="IamAppName" value="CMGR" />
    <add key="IsTrainingEnvironment" value="Y" />
    <add key="EnableXsrfVerification" value="N" />
    <!-- List of Hidden Non Prod Environments, values are environment names seperated by ','. Example: "LCD_LOAD, PRE_PROD" -->
    <add key="HiddenNonProdEnvironments" value="LCD_LOAD, PRE_PROD" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <location path="FederationMetadata">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>
  <location path="app">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.6.1" debug="false" />
    <httpRuntime requestValidationMode="4.5" enableVersionHeader="false" targetFramework="4.5" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authorization>
    </authorization>
    <customErrors mode="RemoteOnly" />
    <machineKey decryption="AES" decryptionKey="A9824A8E41B22B3D1FB0DEB11AFC67E2351293DA50F749F7" validationKey="137495BE793D02B1E92C42F5B6743B39D27C8364ECEDBED01AF2702DD44252468BC47112ABC0261A626E4A096503812551D407D1F42204074914C1E5072120B4" />
  </system.web>
  <system.webServer>
    <caching>
      <profiles>
        <clear />
        <add extension=".zip" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <!-- added .js, .html, .css attempting to eliminate annoying IE8/IIS caching issue -->
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
    <validation validateIntegratedModeConfiguration="true" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="WSFederationAuthenticationModule" type="McKesson.Cmgr.Security.CmWSFederationAuthenticationModule, McKesson.Cmgr.Security" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="IdentityCommonsModule" type="McKesson.IdentityCommons.IdentityCommonsModule, McKesson.IdentityCommons" preCondition="managedHandler" />
    </modules>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.identityModel>
    <identityConfiguration>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
  </system.identityModel.services>
  <identityCommons>
    <slidingSessions refreshInterval="00:10:00" maximumIdleTime="00:20:00" maximumLifeTime="10:00:00" />
  </identityCommons>
</configuration>